.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/repoog/hexo-theme-apollo";
    - var currentYear = new Date().getFullYear();
    - runDate = currentYear == theme.startYear ? currentYear : theme.startYear + ' - ' + currentYear;
    p © #{runDate} #[a(href=config.url)!= config.title] Powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=apolloURL, target="_blank") hexo-theme-apollo].