.home.post-list {
    margin: 2em 0;
    .post-list-item {
        padding: 1em 0 1em;
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: 0px;
        }
    }
    .post-content{
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }
        & > ul {
            list-style: initial;
        }
        margin: 1em 0;
        letter-spacing: 0.1em;
    }
    .read-more {     
        color: #42b983;
        display: block;
        text-align: right;
        font-size: 1em;
    }
}